<ion-content fullscreen>
  <div>
    <ion-card>
      <div class="title">
        <strong>Agendador de horários de dispensa</strong>
      </div>
    </ion-card>
  </div>
  <div class="scroll-area">
    <ion-card *ngFor="let slot of slots">
      <ion-card-header>
        <strong>{{ slot.slotNumber + 1 }}º Abertura</strong>
      </ion-card-header>

      <ion-card-content>
        Horário do medicamento:
        <ion-item>
          <ion-label>DD-MMM-AA HH:mm:ss</ion-label>
          <ion-datetime
            locale="pt-BR"
            presentation="time-date"
            displayFormat="DD-MMM-YY HH:mm:ss"
            cancel-text="Cancelar"
            done-text="Confirmar"
            [value]="slot.dateTime"
            (ionChange)="dateTimeChange($event.detail.value, slot)"
          ></ion-datetime>
        </ion-item>
        Medicamentos:
        <ion-item>
          <ion-textarea
            placeholder="Medicamentos a serem inseridos nessa abertura..."
            [(ngModel)]="slot.medication"
          ></ion-textarea>
        </ion-item>

        <ion-button expand="block" (click)="openingConfigProcess(slot)"
          >Iniciar processo de inserção
        </ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
