<ion-content fullscreen>
  <div>
    <ion-card>
      <div class="title">
        <strong>Configurador</strong>
      </div>
    </ion-card>
  </div>
  <div class="scroll-area">
    <ion-card>
      <ion-card-header>
        <strong>Teste de conexão com o dispositivo</strong>
      </ion-card-header>

      <ion-card-content>
        <ion-button expand="block" (click)="initConectionTest()"
          >Iniciar teste de conexão
        </ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
