<ion-content fullscreen>
  <div>
    <ion-card>
      <div class="title">
        <strong>Configurador</strong>
      </div>
    </ion-card>
  </div>
  <div class="scroll-area">
    <ion-card>
      <ion-card-header>
        <strong>Configuração de conexão</strong>
      </ion-card-header>

      <ion-card-content>
        Nome do dispositivo:
        <ion-item>
          <ion-textarea
            placeholder="Nome do dispositivo a ser conectado Ex. HC06 "
          ></ion-textarea>
        </ion-item>
        Senha:
        <ion-item>
          <ion-textarea placeholder=""></ion-textarea>
        </ion-item>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <strong>Teste de conexão com o dispositivo</strong>
      </ion-card-header>

      <ion-card-content>
        <ion-button expand="block" (click)="initConectionTest()"
          >Iniciar teste de conexão
        </ion-button>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <strong>Conteudo para Debug, REMOVER!!!!</strong>
      </ion-card-header>
      <ion-card-content>
        {{ deviceMessage }}
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
